body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #f5f5f5;
}

.navbar {
  position: sticky;
  top: 0;
  background: black;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}

.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

button {
  background: linear-gradient(45deg, orange, red);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  }
